body {
    width: 639px;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0 0 50px;
}

#menu {
    width: 639px;
    position: absolute;
    top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

#menu a {
    text-decoration: none;
    padding: 10px;
    color: goldenrod;
}

#menu a:hover {
    border-bottom: 1px solid goldenrod;
}

header {
    background-color: black;
    padding-bottom: 10px;
    width: 639px;
    height: 100px;
}

header img {
    padding-right: 500px;
}

h1 {
    text-align: left;
}

#background-the-lates-from-the-office {
    background-image: url(banner-1391996_1920.jpg);
    text-align: center;
    padding: 50px 0;
    margin-bottom: 10px;
}

main .main-picture {
    width: 318px;
    height: 218px;;
}

main .box-picture {
    width: 318px;
    margin-left: 160.5px;
    margin-right: 160.5px;
    border-top: 1px solid #c9a686;
}

main .box {
    width: 318px;
    margin-left: 160.5px;
    margin-right: 160.5px;
    border-right: 1px solid #c9a686;
    border-left: 1px solid #c9a686;
    border-top: 1px solid #c9a686;
    border-bottom: 1px solid #c9a686;
}

main h3 {
    margin-left: 20px;
    color: #c9a686;
}

main p {
    margin-left: 20px;
}

main .reactions {
    display: flex;
}

main .reaction {
    padding: 0px 43px;
}

.box {
    margin-bottom: 10px;
}

.box-picture {
    margin-bottom: 10px;
}

.reactions p {
    color: #c9a686;
}

.box-picture {
    border-right: 1px solid #c9a686;
    border-left: 1px solid #c9a686;
    border-bottom: 1px solid #c9a686;
}

.reactions {
    border-top: 1px solid #c9a686;
}

.calendar {
    border-right: 1px solid #c9a686;
    padding-top: 5px;
}

.comments {
    border-right: 1px solid #c9a686;
    padding-top: 6px;
}

.likes {
    padding-top: 5px;
}

.calendar p {
    margin: 0px;
    text-align: center;
    padding-bottom: 5px;
}

.comments p {
    margin: 0px;
    text-align: center;
    padding-bottom: 5px;
}

.likes p {
    margin: 0px;
    text-align: center;
    padding-bottom: 5px;
}



















h5 {
    color: goldenrod;
}

footer {
    text-align: left;
    background-color: black;
    padding-top: 10px;
}

footer h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer .footer-icon {
    padding-right: 10px;
    width: 23px;
}

ul {
    padding: 0px;
}

footer ul {
    margin-bottom: 0px;
}

footer .list-footer {
    margin-right: 216.5px;
    margin-left: 216.5px;
}

#bottom-newsletter {
    display: flex;
    color: grey;
    justify-content: center;
}

#bottom-newsletter a {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}

input[type=text] {
    width: 200px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid goldenrod;
    box-sizing: border-box;
    border-radius:15px;

  }

  input[type=submit] {
    width: 100px;
    padding: 2px;
    margin: 6px 0;
    border: 1px solid goldenrod;
    background-color: goldenrod;
    box-sizing: border-box;
    border-radius:15px;
  }

form .container {
    text-align: center;
}

#recent-tweets {
    color: white;
}

#recent-tweets p{
    margin-top: 0px;
}

.tweet1 {
    display: flex;
    color: white;
    justify-content: left;
}

.tweet1 img {
    width: 18px;
    height: 15px;
}

.tweet1 p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.tweet1 a {
    text-decoration: none;
    color: grey;
}

.time {
    color: grey;
    margin-left: 20px;
    margin-bottom: 5px;
}

.time2 {
    color: grey;
    margin-left: 20px;
    padding-bottom: 10px;
}

#recent-posts {
    padding-bottom: 10px;
}

#recent-posts ul {
    list-style: none;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 0px;

}

#recent-posts a {
    text-decoration: none;
    color: white;
}

.line-recent-posts {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    padding-top: 5px;
}


  .list-footer ul {
      list-style: none;
  }

  .footer-icon-position {
      display: flex;
      justify-content: left;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .footer-icon-position-was {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-icon-position-was img {
    height: 10px;
    width: 23px;
    padding-right: 10px;
    vertical-align: middle;
}

#main-office {
      color: white;
      padding-bottom: 50px;
  }

  .pointer {
      display: flex;
  }

  .pointer img {
      width: 14px;
      height: 19px;
      padding-right: 10px;
  }

  .pointer p {
      margin-top: 0px;
      
  }

  .phone {
      display: flex;
  }

  .phone img {
      width: 17px;
      height: 17px;
      padding-right: 10px;
  }

  .phone p {
      margin-top: 0px;
  }

  .envelope {
      display: flex;
  }

  .envelope img {
    width: 18px;
    height: 12px;
    padding-right: 10px;
  }

  .envelope p {
      margin-top: 0px;
  }

  #footer-bottom {
      display: flex;
      padding-bottom: 10px;
      padding-top: 10px;
      border-top: 1px solid grey;
  }

  .rights-reserved {
      margin-left: 346px;
  }