#a1 {
    background-color: red;
    margin-left: 0px;
    margin-right: 0px;
    width: 2000px;
    height: 200px;
}

#a2 {
    background-color: green;
    margin-right: 0px;
    margin-left: 0px;
    width: 500px;
    height: 1000px;
    float: left;
    
    
    
}

#a3 {
    background-color: purple;
    margin-top: 0px;
    margin-left: 0px;
    height: 1000px;
    width: 500px;
    float: left;
}

#a4 {
    background-color: lightyellow;
    margin-top: 0px;
    margin-left: 0px;
    height: 1000px;
    width: 1000px;
    float: left;
    
}

#a5 {
    background-color: mediumslateblue;
    margin-top: 0px;
    margin-left: 0px;
    height: 200px;
    width: 2000px;
    clear: both;
}

