#a1 {
    background-color: red;
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 100px;
}

#a2 {
    background-color: green;
    top: 100px;
    left: 0px;
    width: 150px;
    height: 500px;
    
}

#a3 {
    background-color: purple;
    top: 100px;
    left: 0px;
    height: 500px;
    width: 150px;
}

#a4 {
    background-color: lightyellow;
    top: 100px;
    left: 550px;
    height: 500px;
    width: 400px;
}

#a5 {
    background-color: mediumslateblue;
    top: 600px;
    left: 1000px;
    height: 100px;
    width: 2000px;
}