body {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 1000px 400px auto;
}

.navigation {
    grid-column-start: 2;
    text-align: right;
}

.content {
    grid-column-start: 1;
    grid-row-start: 2;
}