body {
    width: 100%;
}

.logo {
    width: 131px;
    height: 52px;
    margin: 0px auto;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    display: none;
}

.nav li {
    padding: 10px;
}

.nav a {
    text-decoration: none;
}

select {
    overflow: visible;
    width: 100%;
}

section ul {
    list-style: none;
}

.main-image {
    object-fit: cover;
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: left;
}

footer {
    border-top: 1px solid black;
}

.social-media {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-media img {
    width: 31px;
    height: 31px;
}

.social-media li {
    padding: 0 5px;
}

.logo-footer {
    width: 45px;
    height: 19px;
}

.selfy-copywrite{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 601px) 
{
    .select {
        display: flex;
        justify-content: flex-end;
    }

    select {
        max-width: 100px;
    }
}

@media screen and (min-width: 769px) 
{
    select {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin-left: 150px;
        margin-right: 150px;
    }

    .all-sides {
        display: flex;
    }

    .right-side {
        padding-left: 25px;
    }

    .left-side {
        padding-right: 25px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 869px) 
{
    .flex-header {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1124px) 
{
    body {
        width: 1124px;
        margin: 0px auto;
    }
}