body {
    width: 100%;
    margin: 0;
    padding: 0 0 50px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    color: #c9a686;
}

.menu a:hover {
    border-bottom: 1px solid #c9a686;
}

nav ul {
    padding-left: 0px;
}

header {
    background-color: black;
    padding-bottom: 10px;
    width: 100%;
    height: 300px;
}

main {
    position: relative;
}

main:before {
    content: '';
    position: absolute;
    top: -100px;
    right: 0;
    max-width: 100%;
    border-left: 120vw solid transparent;
    border-bottom: 100px solid white;
}

header h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

header p {
    margin-top: 0px;
    margin-bottom: 10px;
}

header img{
    margin-left: 10px;
    margin-top: 10px;
}


h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.white-text {
    color: white;
    text-align: center;
    font-size: 25px;
}

.button {
    text-align: center;
}

button {
    background-color: white;
    border-radius: 15px;
    border:1px solid  white;
    display: inline-block;
    cursor: pointer;
    color: #c9a686;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
}

h2 {
    text-align: center;
}

main {
    text-align: center;
}

section p {
    text-align: center;
}

.our-services {
    display: flex;
    justify-content: center;
    text-align: center;
}

.service h5 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

section .design {
    margin-top: 9px;
}

section .image {
    display: block;
    margin: 0;
    max-width: 100%;
}

section .image-circle {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
}

section h4 p {
    text-align: center;
}

.signature {
    text-align: center;
}

h4 {
    margin: 2px;
    text-align: center;
}














h4 {
    color: goldenrod;
}

footer {
    background-color: black;
    padding-top: 10px;
    width: 100%;
}

footer h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer .footer-icon {
    padding-right: 10px;
    width: 23px;
}

ul {
    padding: 0px;
}

footer ul {
    margin-bottom: 0px;
}

footer .list-footer {
    list-style: none;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    width: 215px;
}

footer .footer-icon-position {
    display: flex;
    justify-content: left;
}


.bottom-newsletter {
    display: flex;
    color: grey;
    justify-content: center;
}

.bottom-newsletter a {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}

input[type=text] {
    width: 200px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #c9a686;
    box-sizing: border-box;
    border-radius:15px;

  }

  input[type=submit] {
    width: 100px;
    padding: 2px;
    margin: 6px 0;
    border: 1px solid #c9a686;
    background-color: #c9a686;
    box-sizing: border-box;
    border-radius:15px;
  }

form .container {
    justify-content: center;
}

.recent-tweets {
    color: white;
}


.recent-tweets p{
    margin-top: 0px;
    display: block;
    justify-content: center;
}

.tweet1 {
    display: flex;
    color: white;
    justify-content: left;
}

.tweet1 img {
    width: 18px;
    height: 15px;
    margin: 0px;
}

.tweet1 p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.tweet1 a {
    text-decoration: none;
    color: grey;
}

time {
    color: grey;
    margin-left: 20px;
    margin-bottom: 5px;
}


.recent-posts {
    padding-bottom: 10px;
}

.recent-posts ul {
    list-style: none;
    display: block;
    justify-content: center;
    text-align: left;
    padding: 0px;
}

.recent-posts li {
    text-align: left;
}

.recent-posts a {
    text-decoration: none;
    color: white;
}

.line-recent-posts {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    padding-top: 5px;
}


  .list-footer ul {
      list-style: none;
  }

  .footer-icon-position {
      display: flex;
      justify-content: left;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .footer-icon-position-was {
    display: flex;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-icon-position-was img {
    height: 10px;
    width: 23px;
    padding-right: 10px;
    justify-content: left;
}

.main-office {
      color: white;
      padding-bottom: 50px;
      display: block;
      justify-content: left;
      
  }

  .pointer {
      display: flex;
      justify-content: left;
  }

  .pointer img {
      width: 14px;
      height: 19px;
      padding-right: 10px;
  }

  .pointer p {
      margin-top: 0px;
      
  }

  .phone {
      display: flex;
      justify-content: left;
  }

  .phone img {
      width: 17px;
      height: 17px;
      padding-right: 10px;
  }

  .phone p {
      margin-top: 0px;
  }

  .phone a {
      text-decoration: none;
      color: white;
  }

  .envelope {
      display: flex;
      justify-content: left;
  }

  .envelope img {
    width: 18px;
    height: 12px;
    padding-right: 10px;
  }

  .envelope p {
      margin-top: 0px;
  }

  .envelope a {
    text-decoration: none;
    color: white;
  }

  .footer-bottom {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      padding-top: 10px;
      border-top: 1px solid grey;
  }

  .rights-reserved p {
      color: grey;
  }