

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    width: 100%;
}

@media screen and (min-width:1240px)
  {
      body {
          width: 100%;         
    }
}

.top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    color: #c9a686;
}

.menu a:hover {
    border-bottom: 1px solid #c9a686;
}

header {
    background-color: black;
    padding-bottom: 10px;
    height: 300px;
    width: 100%;
}

main {
    position: relative;
}

main:before {
    content: '';
    position: absolute;
    top: -100px;
    right: 0;
    border-left: 120vw solid transparent;
    border-bottom: 100px solid white;
}

header h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

header p {
    margin-top: 0px;
    margin-bottom: 10px;
}

header img{
    margin-left: 10px;
    margin-top: 10px;
}


h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.white-text {
    color: white;
    text-align: center;
    font-size: 25px;
}

.button {
    text-align: center;
}

button {
    background-color: white;
    border-radius: 15px;
    border:1px solid  white;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
}

.main {
    background-color: white; 
}

.main .main-img {
    display: block;
    margin: 0 auto;
    max-width: 35px;
}

h2 {
    text-align: center;
}

.main h2 {
    margin-top: 10px;
}

ul {
    list-style: none;
}

.main li {
    max-width: 205px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-text {
    text-align: center;
}

section .image {
    display: block;
    margin: 0;
    max-width: 100%;
}

.recent-work {
    display: block;
}

section .image-circle {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
    object-fit: contain;
}

section h3 p {
    text-align: center;
}

.signature {
    text-align: center;
}

h3 {
    margin: 2px;
    text-align: center;
}

.signature {
    margin: 2px;
}

.clients {
    background-color: blanchedalmond;
    background-image: url(bacground.png);  
    padding-bottom: 100px; 
}

.clients h2 {
    padding-top: 20px;
}

.clients-text {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.sign {
    display: block;
    margin: 0 auto;
    max-width: 145px;
    padding-bottom: 20px;
}

h4 {
    color: goldenrod;
}

footer {
    background-color: black;;
    width: 100%;
}

footer h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer .footer-icon {
    padding-right: 30px;
    width: 23px;
}

ul {
    padding: 0px;
}

footer ul {
    margin-bottom: 0px;
}

footer .list-footer {
    list-style: none;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    width: 215px;
}

footer .footer-icon-position {
    display: flex;
    justify-content: left;
}

footer {
    position: relative;
}

footer:before {
    content: '';
    position: absolute;
    top: -100px;
    right: 0;
    max-width: 100%;
    border-left: 100vw solid transparent;
    border-bottom: 100px solid black;
}

.bottom-newsletter {
    display: flex;
    color: grey;
    justify-content: center;
}

.bottom-newsletter a {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}

input[type=text] {
    width: 200px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #c9a686;
    box-sizing: border-box;
    border-radius:15px;

  }

  input[type=submit] {
    width: 100px;
    padding: 2px;
    margin: 6px 0;
    border: 1px solid #c9a686;
    background-color: #c9a686;
    box-sizing: border-box;
    border-radius:15px;
  }

form .container {
    justify-content: center;
}

.recent-tweets {
    color: white;
}


.recent-tweets p{
    margin-top: 0px;
    display: block;
    justify-content: center;
}

.tweet1 {
    display: flex;
    color: white;
    justify-content: left;
}

.tweet1 img {
    width: 18px;
    height: 15px;
    margin: 0px;
}

.tweet1 p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.tweet1 a {
    text-decoration: none;
    color: grey;
}

time {
    color: grey;
    margin-left: 20px;
    margin-bottom: 5px;
}


.recent-posts {
    padding-bottom: 10px;
    justify-content: center;
}

.recent-posts ul {
    list-style: none;
    display: block;
    justify-content: center;
    text-align: left;
    padding: 0px;
}

.recent-posts a {
    text-decoration: none;
    color: white;
}

.line-recent-posts {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    padding-top: 5px;
}


  .list-footer ul {
      list-style: none;
  }

  .footer-icon-position {
      display: flex;
      justify-content: left;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .footer-icon-position-was {
    display: flex;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-icon-position-was img {
    height: 10px;
    width: 23px;
    padding-right: 30px;
    justify-content: left;
}

.main-office {
      color: white;
      padding-bottom: 50px;
      display: block;
      justify-content: left;
      
  }

  .pointer {
      display: flex;
      justify-content: left;
  }

  .pointer img {
      width: 14px;
      height: 19px;
      padding-right: 10px;
  }

  .pointer p {
      margin-top: 0px;
      
  }

  .phone {
      display: flex;
      justify-content: left;
  }

  .phone img {
      width: 17px;
      height: 17px;
      padding-right: 10px;
  }

  .phone p {
      margin-top: 0px;
  }

  .phone a {
      text-decoration: none;
      color: white;
  }

  .envelope {
      display: flex;
      justify-content: left;
  }

  .envelope img {
    width: 18px;
    height: 12px;
    padding-right: 10px;
  }

  .envelope p {
      margin-top: 0px;
  }

  .envelope a {
    text-decoration: none;
    color: white;
  }

  .footer-bottom {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      padding-top: 10px;
      border-top: 1px solid grey;
  }

  .rights-reserved p {
      color: grey;
  }

  @media screen and (min-width:1024px)
  {
      body {
          width: 100%;
          display: grid;
      }

        .container-margin {
            max-width: calc(1000px + 2 * 32px); 
            margin: 0 auto;
            padding-right: 32px; 
            padding-left: 32px;
            width: 100%;
          
    }

      header {
        background-color: black;
        padding-bottom: 10px;
        width: 100%;
        height: 600px;
        padding-bottom: 0px;
        background-image: url(iPhone.png);
        background-repeat: no-repeat;
    }

    main:before {
        content: '';
        position: absolute;
        top: -100px;
        right: 0;
        max-width: 100%;
        border-left: 160vw solid transparent;
        border-bottom: 100px solid white;
    }

    .title-box {
        display: flex;
        width: 400px;              
        margin-top: 150px;
        padding-left: 650px;
        justify-content: flex-start;
    }



    .title-box h1 {
        text-align: left;
    }

    .title-box p {
        text-align: left;
    }

    .button {
        text-align: left;
    }

    .main-list {
        display: flex;
        justify-content: center;
    }

    .main-list li {
        width: 205px;
        margin: 0px 100px;
    }

    .six-photos {
        overflow: hidden;
    }
      
    .six-photos  ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: -20px;
        padding: 0;
      }
      
     .six-photos  li {
        flex: 0 0 33.3333%;
        padding: 5px;
        box-sizing: border-box;
      }
      
    .photo-6photos {
        max-width: 100%;
        height: auto;
      }

    section .the-team {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .image-circle {
        padding-left: 30px;
        padding-right: 30px;
    }

    footer {
        position: relative;
    }
    
    footer:before {
        content: '';
        position: absolute;
        top: -100px;
        right: 0;
        max-width: 100%;
        border-left: 160vw solid transparent;
        border-bottom: 100px solid black;
    }

    footer {
        width: 100%;
        height: 300px;
        margin-bottom: 0px;
    }

    footer .list-footer {
        display: flex;
        margin-bottom: 25px;  
        width: 1600px;
        margin: 0px auto;  
        justify-content: flex-start;
    }

    .list-footer li {
        padding-left: 30px;
    }

    footer img {
        align-items: center;
    }

    .list-footer {
        width: 100%;
    }

    .list-footer li {
        text-align: left;
    }

    .recent-tweets li {
        text-align: left;
    }

    .tweet1 {
        justify-content: left;
    }

    .main-office li {
        text-align: left;
    }

    .pointer {
        justify-content: left;
    }

    .phone {
        justify-content: left;
    }

    .envelope {
        justify-content: left;
    }

    .footer-bottom {
        padding-bottom: 0px;
    }

  }


