body {
    width: 639px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background: #252a3a;
}

#menu {
    text-align: right;
}

#compose {
    text-align: center;  
}

.menu-button {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #252a3a;
    border-style: none;
    font: 16px;
    color: #1b98f8;
}

.compose-button {
    border-radius: 20%;
    background: #252a3a;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 16px;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 100%;
    background: #1b98f8;
}

.button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    background: #252a3a;   
    font: 16px;
    color: white;
}

.labels {
    font: 16px;
    color: white;
    opacity: 50%;
}

section {
    width: 639px;
    height: 100%;
}

#mail1 {
    padding-top: 12px;
    display: flex;
    margin-left: 18px;
    border-bottom: 1px solid grey;
}

#mail1:hover {
    color:#eee;
}

.profile-pic {
    width: 42px;
    height: 42px;
    border-radius: 3px;
    margin-right: 8px;
}

.text {
    width: 350px;
}

.name-surname {
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-size: 16px;
    color: black;
    margin-top: 2px;
    margin-bottom: 0px;
}

.mail-text {
    color: black;
    font-size: 13px;
    margin: 7px 0;
    padding-top: 14px;
    padding-bottom: 16px;
}

.mail2-3 {
    border-left: 6px solid #1b98f8;
    display: flex;   
    padding-left: 12px;
    padding-top: 12px;
    border-bottom: 1px solid grey;
}

.mail4-7 {
    display: flex;
    padding-top: 12px;
    margin-left: 18px;
    margin-bottom: 12px;
    border-bottom: 1px solid grey;
}



